tmp
bin
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.DS_Store
.project

android/libs
android/build.properties
android/dist
android/java-sources.txt
android/.gradle

ios/metadata.json
ios/ti.admob-iphone-*.zip
ios/dist/
ios/titanium.xcconfig.bak
ios/admob.xcodeproj/project.xcworkspace/xcuserdata/*

node_modules/

TESTS-*.xml
