OTHER_LDFLAGS=$(inherited) -framework AdSupport -framework CoreGraphics -framework CoreMedia -framework CoreMotion -framework CoreTelephony -framework CoreVideo -framework GLKit -framework JavaScriptCore -framework MediaPlayer -framework MessageUI -framework MobileCoreServices -framework OpenGLES -framework iAd -framework StoreKit -framework SystemConfiguration -framework GoogleMobileAds -framework GoogleUtilities -framework GoogleAppMeasurement -framework PromisesObjC -framework PersonalizedAdConsent -framework FacebookAdapter -framework FBAudienceNetwork -framework FBSDKCoreKit -framework InMobiSDK -framework InMobiAdapter
