TITANIUM_SDK_VERSION = 9.2.0.v20200922121138

//
// THESE SHOULD BE OK GENERALLY AS-IS
//
TITANIUM_SDK = /Users/$(USER)/Library/Application Support/Titanium/mobilesdk/osx/$(TITANIUM_SDK_VERSION)
HEADER_SEARCH_PATHS = $(inherited) "$(TITANIUM_SDK)/iphone/include" $(SDKROOT)/usr/include/libxml2
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(TITANIUM_SDK)/iphone/Frameworks/**"
